*
    box-sizing: border-box 
    
$color-blue: #5290ea
$color-orange: #f28b64

    
.container
    max-width: 1140px
    margin: 0 auto
.main-section
    height: 800px
    background: #f0f0f0
    padding-top: 16px 
    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 69px
        align-items: center
    &__logo
        width: 134px
    &__content-container
        position:  relative
        display: flex
        flex-direction: row
.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 64px
        font-size: 18px
        &:last-child
            margin-right: 0px
.left-wrapper
    position: relative
    img
        position: relative
        z-index: 5
    &__rectangle-blue
        top: 150px
        left: -50px
        position: absolute
        width: 566px
        height: 220px
        background: $color-blue
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-64deg)
        z-index: 2
    &__rectangle-orange
        top: 160px
        left: -30px
        position: absolute
        width: 566px
        height: 220px
        background: $color-orange
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-50deg)
        z-index: 3
    &__rectangle-grey
        top: 190px
        left: 10px
        position: absolute
        width: 566px
        height: 220px
        background: #e2e2e2
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-36deg)
        z-index: 1

.right-wrapper
    width: 372px
    position: absolute
    top: 150px
    right: 76px
    &__icons-box
        margin-bottom: 1px
        padding-left: 10px
    &__title
        margin-bottom: 5px 
    &__text
        font-size: 16px
        margin-bottom: 20px


.icons
    display: inline-flex
    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        border: 1px solid $color-blue
        border-radius: 100px
        margin-right: 17px
        &:last-child
            margin-right: 0
        i
            font-size: 21px
.title
    font-size: 72px
    position: relative
    hr
        width: 65px
        position: absolute
        bottom: 0px
        margin: 0
        border: none
        border-top: 1px solid black

.buttons
    display: inline-flex
    &__main-button
        margin-right: 32px
        width: 200px
        height: 60px
        background: $color-orange
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        border: none
        font-size: 18px
        color: white 
    &__icon-button
        display: inline-flex
        align-items: center
        img
            margin-right: 12px
    &__text
        font-size: 16px


