* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-section {
  position: relative;
  min-height: 800px;
  background: #f0f0f0;
  padding-top: 16px;
  margin-bottom: 30px;
  overflow: hidden;
}
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}
.main-section__logo {
  width: 134px;
}
.main-section__content-container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.main-section__first-elipse {
  position: absolute;
  top: 129px;
  right: 80px;
}
.main-section__second-elipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
}
.nav-menu__list-item:last-child {
  margin-right: 0px;
}

.left-wrapper {
  position: relative;
}
.left-wrapper img {
  position: relative;
  z-index: 5;
}
.left-wrapper__rectangle-blue {
  top: 150px;
  left: -50px;
  position: absolute;
  width: 566px;
  height: 220px;
  background: #5290ea;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-64deg);
  z-index: 2;
}
.left-wrapper__rectangle-orange {
  top: 160px;
  left: -30px;
  position: absolute;
  width: 566px;
  height: 220px;
  background: #f28b64;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-50deg);
  z-index: 3;
}
.left-wrapper__rectangle-grey {
  top: 190px;
  left: 10px;
  position: absolute;
  width: 566px;
  height: 220px;
  background: #e2e2e2;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-36deg);
  z-index: 1;
}

.right-wrapper {
  width: 372px;
  position: absolute;
  top: 150px;
  right: 76px;
}
.right-wrapper__icons-box {
  margin-bottom: 1px;
  padding-left: 10px;
}
.right-wrapper__title {
  margin-bottom: 5px;
}
.right-wrapper__text {
  position: relative;
  font-size: 16px;
  margin-bottom: 20px;
  z-index: 1;
}

.icons {
  display: inline-flex;
}
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #5290ea;
  border-radius: 100px;
  margin-right: 17px;
}
.icons__item:last-child {
  margin-right: 0;
}
.icons__item i {
  font-size: 21px;
}

.title {
  font-size: 72px;
  position: relative;
  z-index: 2;
}
.title__hr {
  width: 65px;
  position: absolute;
  bottom: 0px;
  margin: 0;
  border: none;
  border-top: 1px solid black;
}

.buttons {
  display: inline-flex;
}
.buttons__main-button {
  margin-right: 32px;
  width: 200px;
  height: 60px;
  background: #f28b64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: none;
  font-size: 18px;
  color: white;
}
.buttons__icon-button {
  display: inline-flex;
  align-items: center;
}
.buttons__icon-button img {
  margin-right: 12px;
}
.buttons__text {
  font-size: 16px;
}

.elipse {
  width: 194px;
  height: 194px;
  background: linear-gradient(144deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elipse_big {
  width: 282px;
  height: 282px;
}
.elipse__subtract {
  width: 130px;
  height: 130px;
  background: #f0f0f0;
  border-radius: 150px;
}
.elipse__subtract_big {
  width: 188px;
  height: 188px;
}

.second-section {
  position: relative;
  min-height: 700px;
}
.second-section__title {
  margin-bottom: 40px;
}
.second-section__first-elipse {
  position: absolute;
  transform: rotate(41deg);
  top: 20px;
  right: 100px;
}
.second-section__second-elipse {
  position: absolute;
  top: 320px;
  right: 1170px;
}

.rectangles {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  z-index: 2;
}

.rectangle {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  width: 360px;
  height: 360px;
  margin-right: 30px;
  border-radius: 10px;
}
.rectangle__text {
  position: relative;
  left: -130px;
  rotate: 90deg;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}
.rectangle__text_ac {
  left: -170px;
}
.rectangle:last-child {
  margin-right: 0;
}
.rectangle_gray {
  background: #E2E2E2;
}
.rectangle_orange {
  background: #f28b64;
}
.rectangle_blue {
  background: #5290ea;
}

.achievements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.achievement {
  display: flex;
  flex-direction: row;
}
.achievement__icon {
  margin-right: 20px;
}

.icon {
  width: 80px;
}

.text-box__title {
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
}
.text-box__main-text {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */